body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#dragElements {
  padding: 50px;
}
#dropZones {
  padding: 50px;
}
.drag {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: grab;

  }

  .dragged{
    width: 100px;
    height: 100px;
    background-color: orangered;
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: move;
  }
  
  .drop-zone {
    width: 100px;
    height: 100px;
    border: 2px dashed gray;
  }
  
  